/* 3.external css */
body {
    background-color: aqua;
}
/* .P332 {
    background-color: rgb(226, 43, 52) !important;
} */
.P332 {
    background-color: blueviolet;
}
#amrah h4{
    background-color: aliceblue;
}
